﻿@model IEnumerable<Stomatologia.Models.Appointments>

@{
    ViewBag.Title = "Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="panel panel-heading">
        <center>
            <h2 class="h2" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px">Archiwum wizyt</h2>
        </center>
    </div>
    <div class="panel panel-body">
        <table class="table table-striped table-hover table-responsive" style="font-size:medium">
            <tr>
                <th style="border-top-left-radius: 15px;">
                    Termin wizyty
                </th>
                <th style="border-top-right-radius: 15px;">
                    Lekarz
                </th>
            </tr>

            @{
                int i = 0;
                foreach (var item in Model)
                {

                    if (i % 2 == 0 && i < Model.Count() - 1)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppointmentDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Doctors.DoctorFirstName) @Html.DisplayFor(modelItem => item.Doctors.DoctorLastName)
                            </td>
                        </tr>
                    }
                    else if (i % 2 == 0 && i == Model.Count() - 1)
                    {
                        <tr>
                            <td style="border-bottom-left-radius: 15px;">
                                @Html.DisplayFor(modelItem => item.AppointmentDateTime)
                            </td>
                            <td style="border-bottom-right-radius: 15px">
                                @Html.DisplayFor(modelItem => item.Doctors.DoctorFirstName) @Html.DisplayFor(modelItem => item.Doctors.DoctorLastName)
                            </td>
                        </tr>
                    }
                    else if (i % 2 == 1 && i < Model.Count() - 1)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppointmentDateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Doctors.DoctorFirstName) @Html.DisplayFor(modelItem => item.Doctors.DoctorLastName)
                            </td>
                        </tr>
                    }
                    else if (i % 2 == 1 && i == Model.Count() - 1)
                    {
                        <tr>
                            <td style="border-bottom-left-radius: 15px;">
                                @Html.DisplayFor(modelItem => item.AppointmentDateTime)
                            </td>
                            <td style="border-bottom-right-radius: 15px">
                                @Html.DisplayFor(modelItem => item.Doctors.DoctorFirstName) @Html.DisplayFor(modelItem => item.Doctors.DoctorLastName)
                            </td>
                        </tr>
                    }

                    i++;
                }
            }
        </table>
    </div>

