﻿@using Stomatologia.Models
@model DoctorsForScheduleViewModel
@{
    ViewBag.Title = "Wybierz lekarza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ChooseDoctor", "Appointments", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="panel panel-heading">
        <center>
            <h2 class="h2" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px">Wybierz lekarza:</h2>
        </center>
    </div>
    <div class="panel panel-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-warning" })

            <div class="form-group">
                <p class="control-label col-md-3">Lekarz:</p>
                <div class="col-md-9">
                    @Html.DropDownList("DoctorsList", (SelectList)ViewBag.DoctorsList, "-- wybierz --", htmlAttributes: new { @id = "doctorslistid", @class = "form-control" })
                </div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-default" href='@Url.Action("Index", "Appointments")'>
                    &laquo; Powrót
                </a>
            </div>
            <div align="right" class="col-md-6">
                <input type="submit" value="Dalej &raquo" class="btn btn-warning" />
            </div>
        </div>
    </div>

}