﻿@model Stomatologia.Models.NewAppointmentViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-heading">
    <center>
        <h2 class="h2" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px">Umów wizytę</h2>
    </center>
</div>
<div class="panel panel-body">
    @using (Html.BeginForm(Html.BeginForm("Create", "Appointments", FormMethod.Post, new { @class = "form-horizontal", role = "form" })))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-warning" })
            <div class="form-group">
                <p class="control-label col-md-3">Wybierz datę:</p>
                <div class="col-md-9">
                    <div class="input-group">
                        @Html.EditorFor(model => Model.AppointmentDate, DateTime.Now.ToString("MM/dd/yyyy"), new { htmlAttributes = new
                   {
                       @id = "datetimepicker1",
                       @class = "form-control",
                       autocomplete = "off",
                       Name = "DatePicker"
                   }
                   })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <p class="control-label col-md-3">Wybierz godzinę:</p>
                <div class="col-md-9">
                    @Html.DropDownList("hoursDropDownList", new SelectList(Enumerable.Empty<SelectListItem>()), "--wybierz--", htmlAttributes: new { @class = "form-control", @id = "hoursDropDownList" })
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-default" href='@Url.Action("ChooseDoctor", "Appointments")'>
                    &laquo; Powrót do wyboru lekarza
                </a>
            </div>
            <div align="right" class="col-md-6">
                <input type="submit" value="Umów wizytę &raquo;" class="btn btn-danger" />

            </div>

            @Html.HiddenFor(model => model.DoctorId)
            @Html.HiddenFor(model => model.AppointmentDate)

        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">

        var availableDates = [];

        @{
            if (Model.AvailableDatesString != null)
            {
                foreach (var availableDate in Model.AvailableDatesString)
                {
                    @:availableDates.push("@availableDate");
                }
            }
        }

        $(document).ready(function () {
            $(function () {
                $('#datetimepicker1').datetimepicker({
                        format: 'MM/DD/YYYY',
                    locale: 'pl',
                    daysOfWeekDisabled: [0, 6],
                    minDate: moment(),
                    enabledDates: availableDates
                }).
                    on("dp.change", function (e) {
                        var sDate = $('#datetimepicker1').val();
                        var sDoctorId = @Model.DoctorId;

                        $.ajax({
                            type: "GET",
                            url: "/Appointments/GetAvailableHours", // the method we are calling
                            contentType: "application/json; charset=utf-8",
                            data: { selectedDate: sDate, selectedDoctorId: sDoctorId },
                            dataType: "json",
                            success: function (result) {
                                $("#hoursDropDownList").empty();
                                $.each(result, function () {
                                    $("#hoursDropDownList").append($("<option></option>").val(this['Value']).html(this['Text']));;
                                });
                            },
                            error: function (result) {
                                alert('Wypełnianie godzin: coś poszło nie tak');
                            }
                        });
                    });
                });
            });

        $('#datetimepicker1').on("dp.change", function (e) {
                var sDate = $('#datetimepicker1').val();
                var sDoctorId = @Model.DoctorId;

                    $.ajax({
                    type: "GET",
                        url: "/Appointments/GetAvailableHours", // the method we are calling
                        contentType: "application/json; charset=utf-8",
                        data: { selectedDate: sDate, selectedDoctorId: sDoctorId },
                        dataType: "json",
                        success: function (result) {
                            $("#hoursDropDownList").empty();
                            $.each(result, function () {
                                $("#hoursDropDownList").append($("<option></option>").val(this['Value']).html(this['Text']));;
                        });
                    },
                        error: function (result) {
                        alert('Wypełnianie godzin: coś poszło nie tak');
                    }
                });
            });
    </script>

}





