﻿@model Stomatologia.Models.Appointments

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-heading">
            <center>
                <h2 class="h2" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px">Czy na pewno chcesz odwołać poniższą wizytę?</h2>
            </center>
        </div>
        <dd class="panel panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.AppointmentDateTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AppointmentDateTime)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Doctors.DoctorFirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Doctors.DoctorFirstName)
                </dd>

                <dt>
                    @Html.LabelFor(model => model.Doctors.DoctorLastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Doctors.DoctorLastName)
                </dd>
            </dl>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <center>
                    <div class="form-actions no-color">
                        <a class="btn btn-default" href='@Url.Action("Index", "Appointments")'>
                            &laquo; Powrót
                        </a> |
                        <input type="submit" value="Odwołaj wizytę" class="btn btn-danger" />
                    </div>
                </center>
            }

        </dd>

    </div>
</div>

