﻿@model IEnumerable<Stomatologia.Models.Appointments>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="panel panel-heading">
    <center>
        <h2 class="h2" style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px">Nadchodzące wizyty</h2>
    </center>
</div>
<div class="panel panel-body">
    <table class="table table-striped table-hover table-responsive" style="font-size:medium">
        <tr>
            <th style="border-top-left-radius: 15px;">
                Termin wizyty
            </th>
            <th>
                Lekarz
            </th>
            <th style="border-top-right-radius: 15px;"></th>
        </tr>


        @{
            int i = 0;
            foreach (var item in Model)
            {

                if (i % 2 == 0 && i < Model.Count() - 1)
                {
                    <tr style="background-color: rgba(7, 93, 86, 0.86)">
                        <td>
                            @Html.DisplayFor(modelItem => item.AppointmentDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctors.DoctorFirstName) @Html.DisplayFor(modelItem => item.Doctors.DoctorLastName)
                        </td>
                        <td>
                            <a class="btn btn-danger btn-xs" href='@Url.Action("Delete", "Appointments", new { id = item.AppointmentId })'>
                                ODWOŁAJ &raquo;
                            </a>
                        </td>
                    </tr>
                }
                else if (i % 2 == 0 && i == Model.Count() - 1)
                {
                    <tr style="background-color: rgba(7, 93, 86, 0.86)">
                        <td style="border-bottom-left-radius: 15px;">
                            @Html.DisplayFor(modelItem => item.AppointmentDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctors.DoctorFirstName) @Html.DisplayFor(modelItem => item.Doctors.DoctorLastName)
                        </td>
                        <td style="border-bottom-right-radius: 15px">
                            <a class="btn btn-danger btn-xs" href='@Url.Action("Delete", "Appointments", new { id = item.AppointmentId })'>
                                ODWOŁAJ &raquo;
                            </a>
                        </td>
                    </tr>
                }
                else if (i % 2 == 1 && i < Model.Count() - 1)
                {
                    <tr style="background-color: rgba(14, 115, 107, 0.85)">
                        <td>
                            @Html.DisplayFor(modelItem => item.AppointmentDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctors.DoctorFirstName) @Html.DisplayFor(modelItem => item.Doctors.DoctorLastName)
                        </td>
                        <td>
                            <a class="btn btn-danger btn-xs" href='@Url.Action("Delete", "Appointments", new { id = item.AppointmentId })'>
                                ODWOŁAJ &raquo;
                            </a>
                        </td>
                    </tr>
                }
                else if (i % 2 == 1 && i == Model.Count() - 1)
                {
                    <tr style="background-color: rgba(14, 115, 107, 0.85)">
                        <td style="border-bottom-left-radius: 15px;">
                            @Html.DisplayFor(modelItem => item.AppointmentDateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctors.DoctorFirstName) @Html.DisplayFor(modelItem => item.Doctors.DoctorLastName)
                        </td>
                        <td style="border-bottom-right-radius: 15px">
                            <a class="btn btn-danger btn-xs" href='@Url.Action("Delete", "Appointments", new { id = item.AppointmentId })'>
                                ODWOŁAJ &raquo;
                            </a>
                        </td>
                    </tr>
                }

                i++;
            }
        }

    </table>

    <br/>
    <div style="text-align:right;">
        <a class="btn btn-warning" href='@Url.Action("ChooseDoctor", "Appointments")' style="left: 0;">
            Zaplanuj nową wizytę &raquo;
        </a>
    </div>
</div>




