﻿@using Stomatologia.Models
@model SetUpScheduleViewModel

@{
    ViewBag.Title = "Wypełnij grafik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SetUpSchedule", "Appointments", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="panel panel-info panel-heading">
        <h2 class="h2" style="text-align:center">Wypełnij grafik</h2>
    </div>
    <div class="panel panel-body" align="center">
        @Html.ValidationSummary("", new { @class = "txt-danger" })
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <div class="form-horizontal">
                    <div class="row">
                        <p class="control-label col-md-3">Lekarz:</p>
                        <div class="col-md-9">
                            @Html.DropDownList("DoctorsList", (SelectList)ViewBag.DoctorsList, "-- wybierz --", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <p class="control-label col-md-3">Data od:</p>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.EditorFor(model => model.DateFrom, DateTime.Now.ToString("dd-MM-yyyy"), new {htmlAttributes = new
                           {
                               @id = "datetimepicker1",
                               @class = "form-control",
                               autocomplete = "off"
                           }
                           })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.DateFrom, "", new { @class = "text-danger", @style = "color:#ecb91f" })
                        </div>
                        <p class="control-label col-md-3">Data do:</p>
                        <div class="col-md-9">
                            <div class="input-group">
                                @Html.EditorFor(model => model.DateTo, DateTime.Now.ToString("dd-MM-yyyy"), new {htmlAttributes = new
                           {
                               @id = "datetimepicker2",
                               @class = "form-control",
                               autocomplete = "off"
                           }
                           })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.DateTo, "", new { @class = "text-danger", @style = "color:#ecb91f" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div align="center">
            <input type="submit" value="Zatwierdź" class="btn btn-lg btn-warning" />
        </div>
    </div>

}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'DD-MM-YYYY',
                locale: 'pl',
                daysOfWeekDisabled: [0, 6],
                minDate: moment(),
                disabledDates: [
                    moment("5/1/2019"),
                    moment("5/2/2019"),
                    moment("5/3/2019"),
                    moment("4/22/2019"),
                    moment("6/20/2019"),
                    moment("11/1/2019"),
                    moment("11/11/2019"),
                    moment("8/15/2019"),
                    moment("12/24/2019"),
                    moment("12/25/2019"),
                    moment("12/26/2019"),
                ]
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker2').datetimepicker({
                format: 'DD-MM-YYYY',
                locale: 'pl',
                daysOfWeekDisabled: [0, 6],
                minDate: moment(),
                disabledDates: [
                    moment("5/1/2019"),
                    moment("5/2/2019"),
                    moment("5/3/2019"),
                    moment("4/22/2019"),
                    moment("6/20/2019"),
                    moment("11/1/2019"),
                    moment("11/11/2019"),
                    moment("8/15/2019"),
                    moment("12/24/2019"),
                    moment("12/25/2019"),
                    moment("12/26/2019"),
                ]
            });
        });
    </script>
}


