﻿@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6" style="opacity: 0.8">
        <div id="gabinetCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
            @* lista elementow w carousel *@
            <ol class="carousel-indicators">
                <li data-target="#gabinetCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#gabinetCarousel" data-slide-to="1"></li>
                <li data-target="#gabinetCarousel" data-slide-to="2"></li>
                <li data-target="#gabinetCarousel" data-slide-to="3"></li>
            </ol>
            @* obiekt 1. *@
            <div class="carousel-inner" role="slider">
                <div class="item active">
                    <img src="~/images/gabinet1.jpg" class="img-responsive" />
                    <div class="carousel-caption">
                        <div class="well well-sm">NOVA - Centrum Stomatologii</div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/gabinet2.jpg" class="img-responsive" />
                    <div class="carousel-caption">
                        <div class="well well-sm">NOVA - Centrum Stomatologii</div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/gabinet3.jpg" class="img-responsive" />
                    <div class="carousel-caption">
                        <div class="well well-sm">NOVA - Centrum Stomatologii</div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/gabinet4.jpg" class="img-responsive" />
                    <div class="carousel-caption">
                        <div class="well well-sm">NOVA - Centrum Stomatologii</div>
                    </div>
                </div>
                @* strzałki do przewijania ręcznego zdjęć *@
                <a href="#gabinetCarousel" class="carousel-control left" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#gabinetCarousel" class="carousel-control right" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-0" align="center">
        <div class="panel panel-heading">Skontaktuj się z nami</div>
        <div class="panel panel-body">
            <h4 class="h4">NOVA - Centrum Stomatologii</h4>
            <hr />
            <address>
                Ulica Pierwsza z Brzegu<br />
                12-345, Jakaś Miejscowość<br />
                <abbr title="telefon">tel.</abbr>
                888 000 888
            </address>

            <address>
                <strong>E-mail:</strong> <a href="mchk60@gmail.com">mchk60@gmail.com</a><br />
            </address>

            <hr />
            <h4>Rejestracja czynna:</h4>
            <p>PN - PT &raquo; 8:00 - 18:00</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#gabinetCarousel').carousel();
    });
</script>
