﻿
@{
    ViewBag.Title = "LekarzePrzeglad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3 col-md-offset-0">
        <div class="panel panel-info panel-heading">
            <h2 class="h2" style="text-align:center">Nasi lekarze</h2>
        </div>
        <div class="panel panel-body">
            <p style="text-align: justify">
                Zatrudniamy najwyższej klasy kadrę lekarską, która znajdzie rozwiązanie na każdy z Twoich problemów.
            </p>
            <p style="text-align: justify">
                Wieloletnie doświadczenie naszych lekarzy przekłada się na wysoką jakość usług i obsługi oraz najwyższą troskę o każdego pacjenta.
            </p>
            <hr />
            <p style="text-align: justify">
                Aby zarezerwować wizytę u jednego z naszych specjalistów, zaloguj się do swojego konta użytkownika:
            </p>
            <div align="center" style="padding-bottom: 0px">
                <p align="center"><a class="btn btn-warning" href='@Url.Action("Login", "Account")'>Zaloguj się &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-9" style="opacity: 0.9">
        <div id="lekarzeCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#lekarzeCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#lekarzeCarousel" data-slide-to="1"></li>
                <li data-target="#lekarzeCarousel" data-slide-to="2"></li>
                <li data-target="#lekarzeCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="slider">
                <div class="item active">
                    <img src="~/images/lekarz1.jpg" class="img-responsive" />
                    <div class="carousel-caption">
                        <div class="well well-sm">
                            <h3 class="h4" style="color: rgb(174, 226, 216)">dr n. med. Anna Przykładowa</h3>
                            <div class="container table-responsive hidden-xs">
                                <div class="col-sm-3">
                                    <p class="hidden-xs">Absolwentka prestiżowego Uniwersytetu Stanforda z 2002 roku. Autorka wielu artykułów naukowych z dziedziny stomatologii estetycznej. Właścicielka firmy produkującej licówki kompozytowe. Specjalistka protetyki i stomatologii zachowawczej.</p>
                                    <br />
                                </div>
                                <div class="col-sm-2">
                                    <table class="table table-striped table-hover table-responsive">
                                        <tbody>
                                            <tr>
                                                <td>PN:</td>
                                                <td>10-14</td>
                                            </tr>
                                            <tr>
                                                <td>WT:</td>
                                                <td>12-18</td>
                                            </tr>
                                            <tr>
                                                <td>ŚR:</td>
                                                <td>10-14</td>
                                            </tr>
                                            <tr>
                                                <td>CZ:</td>
                                                <td>8-18</td>
                                            </tr>
                                            <tr>
                                                <td>PT:</td>
                                                <td>10-14</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <img src="~/images/lekarz2.jpg" class="img-responsive" />
                    <div class="carousel-caption">
                        <div class="well well-sm">
                            <h3 class="h4" style="color: rgb(174, 226, 216)">lek. Julia Poglądowa</h3>
                            <div class="container table-responsive hidden-xs">
                                <div class="col-sm-3">
                                    <p class="hidden-xs">Absolwentka Uniwersytetu Medycznego im. Karola Marcinkowskiego w Poznaniu z 2016 roku. Laureatka międzynarodowej nagrody Laur Hipokratesa za prace badawcze z zakresu stomatologii dziecięcej.</p>
                                    <br />
                                </div>
                                <div class="col-sm-2">
                                    <table class="table table-striped table-hover table-responsive">
                                        <tbody>
                                            <tr>
                                                <td>PN:</td>
                                                <td>8-16</td>
                                            </tr>
                                            <tr>
                                                <td>WT:</td>
                                                <td>12-18</td>
                                            </tr>
                                            <tr>
                                                <td>ŚR:</td>
                                                <td>8-16</td>
                                            </tr>
                                            <tr>
                                                <td>CZ:</td>
                                                <td>---</td>
                                            </tr>
                                            <tr>
                                                <td>PT:</td>
                                                <td>8-16</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <img src="~/images/lekarz3.jpg" class="img-responsive" />
                    <div class="carousel-caption">
                        <div class="well well-sm">
                            <h3 class="h4" style="color: rgb(174, 226, 216)">dr hab. n. med. Cezary Zwyczajny</h3>
                            <div class="container table-responsive hidden-xs">
                                <div class="col-sm-3">
                                    <p class="hidden-xs">Absolwent Śląśkiego Uniwersytetu Medycznego i Uniwersytetu Humboldta w Berlinie. Wieloletni biegły sądowy w zakresie antropologii twarzoczaszki. Specjalista chirurgii stomatologicznej, protetyki i neurologii.</p>
                                    <br />
                                </div>
                                <div class="col-sm-2">
                                    <table class="table table-striped table-hover table-responsive">
                                        <tbody>
                                            <tr>
                                                <td>PN:</td>
                                                <td>12-16</td>
                                            </tr>
                                            <tr>
                                                <td>WT:</td>
                                                <td>12-16</td>
                                            </tr>
                                            <tr>
                                                <td>ŚR:</td>
                                                <td>8-16</td>
                                            </tr>
                                            <tr>
                                                <td>CZ:</td>
                                                <td>8-16</td>
                                            </tr>
                                            <tr>
                                                <td>PT:</td>
                                                <td>---</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <img src="~/images/lekarz4.jpg" class="img-responsive" />
                    <div class="carousel-caption">
                        <div class="well well-sm">
                            <h3 class="h4" style="color: rgb(174, 226, 216)">lek. Olga Taka-Owaka</h3>
                            <div class="container table-responsive hidden-xs">
                                <div class="col-sm-3">
                                    <p class="hidden-xs">Absolwentka Uniwersytetu Medycznego w Pradze. Administratorka portalu internetwego "Twój Ząbek" traktującego o próchnicy matek w ciąży zagrożonej. Specjalistka stomatologii zachowawczej osób starszych.</p>
                                    <br />
                                </div>
                                <div class="col-sm-2">
                                    <table class="table table-striped table-hover table-responsive">
                                        <tbody>
                                            <tr>
                                                <td>PN:</td>
                                                <td>8-18</td>
                                            </tr>
                                            <tr>
                                                <td>WT:</td>
                                                <td>12-16</td>
                                            </tr>
                                            <tr>
                                                <td>ŚR:</td>
                                                <td>8-18</td>
                                            </tr>
                                            <tr>
                                                <td>CZ:</td>
                                                <td>12-16</td>
                                            </tr>
                                            <tr>
                                                <td>PT:</td>
                                                <td>10-18</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <a href="#lekarzeCarousel" class="carousel-control left" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="#lekarzeCarousel" class="carousel-control right" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

        </div>
    </div>

</div>



<script type="text/javascript">
    $(document).ready(function () {
        $('#lekarzeCarousel').carousel();
    });
</script>