﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <Center>
        <h1>Centrum Stomatologii NOVA</h1>
        <p class="lead">Twoją najlepszą wizytówką jest Twój uśmiech. Zapewnimy Ci nad nim kompleksową opiekę, bo jesteśmy mistrzami w swoim fachu. Jeśli nam zaufasz, doprowadzimy Twój uśmiech do perfekcji.</p>
    </Center>
</div>

<div class="row">
    <div class="col-md-4">
        <center>
            <h3 class="panel panel-info panel-heading">Profesjonalna kadra</h3>
            <div class="panel-body">
                <p>
                    O Twój zdrowy, piękny uśmiech zadbają prawdziwi mistrzowie w swoim fachu - najwyższy poziom usług stomatologicznych zapewni profesjonalna, wykształcona kadra lekarska.
                </p>
                <p align="center"><a class="btn btn-warning" href='@Url.Action("DoctorsOverview", "Home")'>Nasi lekarze &raquo;</a></p>
            </div>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <h3 class="panel panel-info panel-heading">Atrakcyjne ceny usług</h3>
            <div class="panel-body">
                <p>Centrum NOVA oferuje szeroki zakres kompleksowych usług stomatologicznych w niewygórowanych cenach - od pielęgnacji, przez wybielanie i leczenie, po implantację.</p>
                <p align="center"><a class="btn btn-warning" href='@Url.Action("Pricing", "Home")'>Nasz cennik &raquo;</a></p>
            </div>
        </center>

    </div>
    <div class="col-md-4">
        <center>
            <h3 class="panel panel-info panel-heading">Rezerwacja wizyt online</h3>
            <div class="panel-body">
                <p>Posiadając konto w naszym portalu, możesz dokonywać rezerwacji i odwoływania wizyt u wybranych stomatologów za pomocą kilku kniknięć. Sprawdź:</p>
                <p align="center"><a class="btn btn-warning" href='@Url.Action("Login", "Account")'>Zaloguj się &raquo;</a></p>
            </div>
        </center>
    </div>
</div>