﻿@using Stomatologia.Models
@model LoginViewModel
@{
    ViewBag.Title = "Okno logowania";
}



<div class="panel panel-heading">
    <h3 class="h3 col-md-offset-1">Okno logowania</h3>
</div>

<div class="panel-body" @*style="background-color: rgba(12, 52, 84, 0.85);
        background-repeat: no-repeat;
        border-radius: 15px">*@>
    <div class="row">
        <div class="col-md-12">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "color: #ecb91f" })
                    <div class="form-group">
                        <p class="control-label col-md-2">E-mail:</p>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-4" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", @style = "color: #ecb91f" })
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="control-label col-md-2">Hasło:</p>
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", @style = "color: #ecb91f" })
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.Label("Zapamiętaj mnie")
                                </div>
                            </div>
                        </div>*@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-2">
                            <input type="submit" value="Zaloguj &raquo;" class="btn btn-warning" />
                        </div>
                    </div>
                    <p class="col-md-offset-2">
                        Nie masz jeszcze konta? @Html.ActionLink("Zarejestruj się", "Register", null, new{ @style = "color: #ecb91f"})
                    </p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>*@
                }
            </section>
        </div>
        @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
