﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">@User.Identity.GetUserName().Split('@')[0]</a>
            </li>

            <li class="text-left"><a class="text text-info" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj &raquo;       </a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: new { returnUrl = "~/Home/Index" }, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}